@model Library.Web.Models.BorrowViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Ajax.BeginForm("Borrow", null, null, new AjaxOptions { HttpMethod = "POST"}))
{
    <form class="form-inline">
        <div class="form-group">
            <h4>Borrowing book @Model.Title</h4>
            @Html.HiddenFor(m=>m.Id)
            @Html.HiddenFor(m=>m.Title)
            @Html.TextBoxFor(m => m.Reader, new {@class = "form-control inline", @type = "text", @placeholder = "Reader"})
            @Html.TextBoxFor(m => m.Days, new {@class = "form-control inline", @type = "text", @placeholder = "Days"})
            <button type="submit" id="btnSearch" class="btn btn-default">Submit</button>
        </div>
    </form>
}
