@model Library.Contracts.Models.Book

@{
    ViewBag.Title = "Edit book";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Ajax.BeginForm("Edit", new AjaxOptions { HttpMethod = "POST" }))
{
    <form class="form-inline">
        <div class="form-group">
            <h4>Editing book @Model.Title</h4>
            @Html.HiddenFor(m => m.Id)
            @Html.TextBoxFor(m => m.Title, new { @class = "form-control inline", @type = "text", @placeholder = "Title" })
            @Html.TextBoxFor(m => m.Author, new { @class = "form-control inline", @type = "text", @placeholder = "Author" })
            @Html.TextBoxFor(m => m.Year, new { @class = "form-control inline", @type = "text", @placeholder = "Year" })
            <button type="submit" id="btnSearch" class="btn btn-default">Submit</button>
        </div>
    </form>
}
