@model IEnumerable<Library.Contracts.Models.Book>
@{
    ViewBag.Title = "List books";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table>
    <thead>
        <p>List of books</p>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Author</th>
        <th>Year</th>
        <th>Reader</th>
    </tr>
    </thead>
    <tbody>
        @foreach (var book in Model)
        {
            <tr>
                <td>@book.Id</td>
                <td>@book.Title</td>
                <td>@book.Author</td>
                <td>@book.Year</td>
                @if (@book.Reader?.Name != null)
                {
                    <td>@book.Reader.Name</td>
                }
                else
                {
                    <td> Library</td>
                }
                <td>@Html.ActionLink(" [EDIT]", "Edit", new {bookId = book.Id})</td>
            </tr>
        }
    </tbody>
</table>
