@model Library.Contracts.Models.Book

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Author</th>
            <th>Year</th>
            <th>Reader</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.Id</td>
            <td>@Model.Title</td>
            <td>@Model.Author</td>
            <td>@Model.Year</td>
            @if (@Model.Reader?.Name != null)
            {
                <td>@Model.Reader.Name</td>
            }
            else
            {
                <td>  -  </td>
            }
            <td>@Html.ActionLink(" [EDIT]", "Edit", new { bookId = Model.Id })</td>
        </tr>
    </tbody>
</table>
