@model List<Library.Contracts.Models.Book>

@{
    Layout = null;
}

<br/>
<div>
    @if (@Model.Count != 0)
    {
        <br />
        <table class="table table-striped">
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Author</th>
                <th>Year</th>
                <th>Reader</th>
                <th>Edit</th>
                <th>Borrow/Return</th>
                <th>Delete</th>
            </tr>

            @foreach (var book in Model)
            {
                <tr>
                    <td>@book.Id</td>
                    <td>@book.Title</td>
                    <td>@book.Author</td>
                    <td>@book.Year</td>
                    <td>@book.Reader.Name</td>
                    <td>@Html.ActionLink(" [EDIT]", "Edit", new {bookId = @book.Id})</td>
                    @if (@book.Reader.Id != 0)
                    {
                        <td>@Html.ActionLink(" [RETURN]", "Return", new { bookId = @book.Id })</td>
                    }
                    else
                    {
                        <td>@Html.ActionLink(" [BORROW]", "Borrow", new { bookId = @book.Id })</td>
                    }
                    <td>@Html.ActionLink(" [DELETE]", "Delete", new { bookId = @book.Id })</td>
                </tr>
            }
        </table>
    }
    else
    {
        <div><h4>No book found for your search.</h4></div>
    }
</div>